<h1>Movies</h1>
<p>Order by:</p>

 <button ng-class="{'active': ctrl.active1 === true }" ng-click="ctrl.activeButton1(); ctrl.sort_data_by('title')">Title</button> |
 <button ng-class="{'active': ctrl.active2 === true }" ng-click="ctrl.activeButton2(); ctrl.sort_data_by('reviews')">Reviews</button>
 <span ng-if="ctrl.reverse">z-a</span>
 <span ng-if="!ctrl.reverse">a-z</span>
<p>Search by TITLE: <input ng-model='ctrl.search.title'></p>
<ul>
  <li ng-repeat="movie in ctrl.movies | filter: ctrl.search | orderBy: ctrl.sort_on : ctrl.reverse ">
    <h3>Title:<a ui-sref='home.movie({id: movie.id})'>{{ movie.title }}</a><span> <button ng-click='ctrl.delete(movie.id)'>X</button></span></h3>

    <h4>Plot:</h4>
    <p>
      {{ movie.plot }}
    </p>
    <em ng-show="movie.reviews.length">{{movie.reviews.length}} review(s)</em>

  </li>
</ul>
