<div class='page-header'><h1>Movie List</h1></div>
<p>Order by:</p>

 <button class="btn btn-primary" ng-class="{'active': ctrl.active1 === true }" ng-click="ctrl.activeButton1(); ctrl.sort_data_by('title')">Title</button> |
 <button class="btn btn-primary" ng-class="{'active': ctrl.active2 === true }" ng-click="ctrl.activeButton2(); ctrl.sort_data_by('reviews')">Reviews</button>
 <span ng-if="ctrl.reverse">z-a</span>
 <span ng-if="!ctrl.reverse">a-z</span>
<p>Search by TITLE: <input ng-model='ctrl.search.title'></p>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="movie in ctrl.movies | filter: ctrl.search | orderBy: ctrl.sort_on : ctrl.reverse ">
    <h4>Title:<a ui-sref='home.movie({id: movie.id})'> {{ movie.title }}</a>
      <span class="glyphicon glyphicon-remove" style="cursor:pointer" ng-click='ctrl.delete(movie.id)'></span></h4>

    <h4>Plot:</h4>
    <p>
      {{ movie.plot }}
    </p>
    <em ng-show="movie.reviews.length">{{movie.reviews.length}} review(s)</em>

  </li>
</ul>
