<div class='page-header'><h1>Add Movie</h1></div>
<form name="form" ng-submit="ctrl.submit()">
  <fieldset class="form-group">
 <label for='title'>Title</label>
 <input name='title' class="form-control" type='text' required="required" ng-minlength=3 ng-model='ctrl.title'>
   <div ng-if="form.title.$touched">
     <div ng-if="form.title.$error.required">
              Title is required!
     </div>
   <div ng-if="form.title.$error.minlength">
            Title must be at least 3 characters
     </div>
  </div>
 </fieldset>
 <fieldset class="form-group">
 <label for='plot'>Plot</label>
 <input name='plot' type='textarea' class="form-control" required="required" ng-minlength=10  ng-model='ctrl.plot'>
   <div ng-if="form.plot.$touched">
     <div ng-if="form.plot.$error.required">
            Plot is required!
     </div>

   <div ng-if="form.plot.$error.minlength">
          Plot must be at least 10 characters
     </div>
  </div>
   </fieldset>
 <input type='submit' value='Add Movie'>

</form>
